body {
    margin: 0px;
    padding: 0px;

    
}
.loadbox {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.bar {
    width:80%;
    background: rgb(181, 61, 61);
    height: 30px;
    border: 2px solid rgb(184, 181, 181);
    border-radius: 20px;
    display:flex;
    justify-content: flex-start;
    color: rgb(18, 10, 10);
    font-size: 20px;
}

.progress{
    background-color: rgb(123, 199, 102);
    border-radius: 20px;
    width: 0%;
    border: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    width:80%;
    height: 30px; 
    border-radius: 20px;
    background-color: rgb(82, 199, 72);
    color: white;
    border: 0px;
    margin-top: 10px;
    padding: 5px;
}

button:hover {
    transform: scale(1.1);
    background-color: rgb(50, 184, 62);
}
.searchbar {
    display: block;
    margin: 0 auto;
    width:80%px; 

}

input {
    width: 70%;
    margin-top: 10px;
}


.list {
    
   text-align: center;
   background-color: aliceblue;
   width: 100%;
   flex-direction: column;
   align-items: center;
   margin-top: 0px;
}

